* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #282C34;

  --text-title: #F8F8F8;
  --text-body: #D7D7D7;
  --text-info: #BBBBBB;
  --text-higlight: #FF57B2;
 }

 body {
   background: var(--background);
 }